################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/JoymonOnline/JS/app/*.js
/src/JoymonOnline/bin
/src/JoymonOnline/obj/Debug
/src/JoymonOnline/JS/app/*.map
/src/JoymonOnline.IntegrationTests
/src/JoymonOnline.Tests
/src/packages
/src/JoymonOnline/JoymonOnline.csproj.user
*.map

/node_modules
/**/dist