################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/JoymonOnline/app/app.component.js
/src/JoymonOnline/app/app.js
/src/JoymonOnline/app/app.module.js
/src/JoymonOnline/app/feed.component.js
/src/JoymonOnline/app/feed.service.js
/src/JoymonOnline/bin
/src/JoymonOnline/obj/Debug
/src/JoymonOnline/JS/app/feed.service.js
/src/JoymonOnline/JS/app/feed.component.js.map
/src/JoymonOnline/JS/app/feed.component.js
/src/JoymonOnline/JS/app/app.module.js.map
/src/JoymonOnline/JS/app/app.module.js
/src/JoymonOnline/JS/app/app.js.map
/src/JoymonOnline/JS/app/app.js
/src/JoymonOnline/JS/app/app.component.js.map
/src/JoymonOnline/JS/app/app.component.js
/src/JoymonOnline.IntegrationTests
/src/JoymonOnline.Tests
/src/packages
/src/JoymonOnline/JoymonOnline.csproj.user
/src/JoymonOnline/JS/app/BlogFeed.js.map
/src/JoymonOnline/JS/app/BlogFeed.js
/src/JoymonOnline/JS/app/projects.component.js
*.map
/src/JoymonOnline/JS/app/projects.service.js
/src/JoymonOnline/JS/app/project.component.js
/src/JoymonOnline/JS/app/GithubProject.js
/src/JoymonOnline/JS/app/content.service.js
/src/JoymonOnline/JS/app/content.component.js
/src/JoymonOnline/JS/app/blogsView.component.js
/src/JoymonOnline/JS/app/changelog.component.js
/src/JoymonOnline/JS/app/home.component.js
/src/JoymonOnline/JS/app/links.component.js
/src/JoymonOnline/JS/app/resume.component.js
/src/JoymonOnline/JS/app/viewResume.component.js
