<?xml version="1.0"?>
<outputCacheSettings>
  <outputCacheProfiles>
    <add name="Cache30Seconds" duration="30"
  varyByParam="none" />
  <add name="Cache1Day" duration="86400"
  varyByParam="none" />
  <add name="Cache1Week" duration="604800"
  varyByParam="none" />
  </outputCacheProfiles>
</outputCacheSettings>
